.git
.github
.DS_Store
**/.DS_Store
**/.next
**/node_modules
**/coverage
**/build
**/dist
**/.gradle
**/.idea
**/*.tsbuildinfo
android
apple
assets
backend
crates
daemon
esp
firmware
frontend
ios
macos
scripts
secrets
stm
videos
windows
.venv
