menu "Adapter Configuration"

    config EXAMPLE_EXTENDED_ADV
        bool
        depends on SOC_BLE_50_SUPPORTED && BT_NIMBLE_50_FEATURE_SUPPORT
        default y if SOC_ESP_NIMBLE_CONTROLLER
        select BT_NIMBLE_EXT_ADV
        prompt "Enable extended advertising"
        help
            Use this option to enable extended advertising.
            If this option is disabled, ensure config BT_NIMBLE_EXT_ADV is
            also disabled from Nimble stack menuconfig

    config ADAPTER_BLE_DEVICE_NAME
        string "BLE device name"
        default "BLE Waver Dongle"
        help
            GAP device name used in advertisements.

    config ADAPTER_USB_VID
        hex "USB CDC-ACM VID"
        default 0x0483
        help
            Vendor ID (VID) of the USB CDC-ACM device to connect to.

    config ADAPTER_USB_PID
        hex "USB CDC-ACM PID"
        default 0x5740
        help
            Product ID (PID) of the USB CDC-ACM device to connect to.

    config ADAPTER_USB_BAUD
        int "USB CDC-ACM baud rate"
        default 115200
        help
            Line coding baud rate to configure on the connected CDC-ACM device.

endmenu
