# Override some defaults so BT stack is enabled
# in this example

#
# BT config
#
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y

#
# Adapter defaults
#
CONFIG_ADAPTER_BLE_DEVICE_NAME="BLE Waver Dongle"
CONFIG_ADAPTER_USB_VID=0x0483
CONFIG_ADAPTER_USB_PID=0x5740
CONFIG_ADAPTER_USB_BAUD=115200
